@import url('https://fonts.googleapis.com/css2?family=Ogg&family=Proxima+Nova:wght@400;700&display=swap');

body {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #f2f2f2;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
}

.Nav-Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

nav{
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
}

nav ul{
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: all 0.3s ease;
    font-size: 0.9em;
}

nav ul li a:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease ;
}

nav ul li a:hover::after{
    width: 100%;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

h1{
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
    font-family: 'Ogg', serif; 
    font-size: 6rem;
    margin-bottom: 0.5rem;
}
  
h1 span {
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Proxima Nova', sans-serif;
}


.About {
    padding: 10px 0;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.about-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    max-width: 600px;
    flex-direction: column;
    padding: 5rem;
}

.about-text h2 {
    font-family: "Ogg", serif;
    font-size: 8rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.about-text p {
    font-size: 0.9rem;
    line-height: 1.6;
    display: inline-block;
    width: fit-content;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 0.8rem;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 1px solid #ffa500;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff9100;
    color: #fff;
}
  
.Performances {
    padding: 10px 0;
    margin: 0;
}

.Performances h3 {
    font-size: 8rem;
    margin-bottom: 20px;
    position: relative;
    font-weight: lighter;
    font-family: 'Ogg', serif;
    text-align: left;
    padding: 0;
    margin: 0;
    z-index: 1;
    max-width: 75%;
    margin: 0 auto; /* Centraliza o container */
}

.Performances h3::before {
    content: "Performances";
    position: absolute;
    bottom: -30%;
    right: 10%;  /* Alinha a sombra para a direita */
    color: rgba(255, 165, 0, 0.1);
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.1);
    font-size: 8rem;
    font-family: 'Ogg', serif;
    transform: translate(10px, -10px); /* Ajuste a posição da sombra para um efeito de desfoque */
    font-weight: lighter;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.Performances h3::after {
    content: "";
    position: absolute;
    bottom: 65%;
    right: -16%; /* Alinha a linha para o centro */
    width: 43rem;
    height: 1px;
    background-color: #ffa500;
}

.Performances p {
    font-size: 0.9rem;
    padding: 10px;
    margin: 0;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    max-width: 75%;
    margin: 0 auto; /* Centraliza o container */
}

.Performances-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as performances */
    gap: 20px; /* Espaçamento entre as Performance */
    position: relative; /* Para posicionar a imagem por trás */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);;
}

.Performances-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Posiciona a imagem atrás das Performance */
}

.Performance-grid {
    padding: 10px 0;
    margin: 0;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto; /* Centraliza o container */
    display: flex; /* Habilita o layout flexbox */
    flex-wrap: wrap; 
}

.Performance {
    background-color: transparent; /* Cor de fundo mais escura */
    color: #fff;
    width: 250px;
    padding: 10px;
    text-align: center;
    flex: 1 0 33,33%;
}

.Performance p {
    margin-bottom: 5px;
}

.Classes h3{
    font-size: 8rem;
    margin-bottom: 20px;
    position: relative;
    font-weight: lighter;
    font-family: 'Ogg', serif;
    text-align: left;
    padding: 0;
    margin: 0;
    z-index: 1;
    max-width: 75%;
    margin: 0 auto; /* Centraliza o container */
}

.Classes h3::before {
    content: "Classes";
    position: absolute;
    top: -10%;
    right: 45%;  /* Alinha a sombra para a direita */
    color: rgba(255, 165, 0, 0.1);
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.1);
    font-size: 8rem;
    font-family: 'Ogg', serif;
    transform: translate(10px, -10px); /* Ajuste a posição da sombra para um efeito de desfoque */
    font-weight: lighter;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.Classes h3::after {
    content: "";
    position: absolute;
    right: -16%; /* Alinha a linha para o centro */
    bottom: 15%;
    width: 58rem;
    height: 1px;
    background-color: #ffa500;
}

.Classes-grid {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .Class-card {
    width: 50%; /* Cada coluna ocupará 50% da largura */
    display: flex;
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 10px;
  }
  
  .Class-card:nth-child(even) { /* Define estilo para elementos pares */
    flex-direction: column-reverse; /* Inverte a ordem dos itens na coluna */
  }
  
  .Class-img {
    width: 100%; /* Ajuste a largura da imagem conforme necessário */
    height: auto; /* Manter a proporção da imagem */
  }

  
  .Trial-lesson {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as performances */
    gap: 20px; /* Espaçamento entre as Performance */
    position: relative; /* Para posicionar a imagem por trás */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);;
    text-align: center;
    padding: 30px;
  }

  .Trial-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
  }
  
  .Trial-lesson p {
    font-size: 1rem;
    color: #fff;
    margin: 0 auto; /* Centraliza o container */
    display: flex;
    padding: 10px;
  }
  
  
.button-trial {
    display: inline-block;
    padding: 10px 15px;
    font-size: 0.8rem;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
    max-width: 75%;
    margin: 0 auto; /* Centraliza o container */
}

.button-trial:hover {
    background-color: #fff;
    color: #000;
}

.Teachers {
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.Teachers h3 {
    font-size: 8rem;
    margin-bottom: 20px;
    position: relative;
    font-weight: lighter;
    font-family: 'Ogg', serif;
    text-align: left;
    padding: 0;
    margin: 0;
    z-index: 1;
    max-width: 75%;
    margin: 0 auto; /* Centraliza o container */
}
    
.Teachers h3::before {
    content: "Teachers";
    position: absolute;
    bottom: -30%;
    right: 30%;  /* Alinha a sombra para a direita */
    color: rgba(255, 165, 0, 0.1);
    text-shadow: 0 0 10px rgba(255, 165, 0, 0.1);
    font-size: 8rem;
    font-family: 'Ogg', serif;
    transform: translate(10px, -10px); /* Ajuste a posição da sombra para um efeito de desfoque */
    font-weight: lighter;
    padding: 0;
    margin: 0;
    z-index: -1;
}
    
.Teachers h3::after {
    content: "";
    position: absolute;
    bottom: 65%;
    right: -3%; /* Alinha a linha para o centro */
    width: 43rem;
    height: 1px;
    background-color: #ffa500;
}

.Teachers-grid{
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    padding: 10px;
  }
  
.Teacher-card {
    width: calc(33.33% - 10px); /* Calcula a largura da coluna, levando em consideração o padding */
    padding: 10px;
    text-align: center;
    box-sizing: border-box; /* Inclui padding e border na largura */
    margin-bottom: 10px; /* Espaçamento entre as colunas */
  }
  
.Teacher-card img{
    width: 300px; /* Define a largura máxima da imagem */
    height: 300px; /* Ajusta a altura da imagem proporcionalmente à largura */
    padding: 10px;
}

.button-teachers {
    display: block; /* Ocupa toda a largura do container */
    margin: 20px auto; /* Centraliza horizontalmente e adiciona margem superior */
    padding: 10px 15px;
    font-size: 0.8rem;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    border: 1px solid #ffa500;
    transition: background-color 0.3s ease;
}

.button-teachers:hover {
    background-color: #ff9100;
    color: #fff;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

.footer h3{
    font-family: 'Ogg', serif;
    font-weight: lighter;
    text-align: center;
}

.footer-container {
    display: flex;
    align-items: left;
    flex-direction: column; /* Organize items vertically */
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.footer-container p {
    font-size: 0.9rem;
    padding: 1px;
    margin-bottom: 0%;
}

.footer-container form {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Add some space between form and previous content */
}

.footer-container input[type="email"] {
    padding: 10px;
    border: 1px solid #fff;
    width: 200px;
    background-color: #fff;
    color: #333; /* Dark gray for better contrast */
    border: 1px solid #fff; /* Lighter gray border */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.footer-container button {
    background-color: #000; /* Dark gray */
    color: #fff;
    padding: 10px 20px;
    width: 150px;
    border: none;
    cursor: pointer;
    border: 1px solid #fff; /* Lighter gray border */
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1); /* White inner shadow */
}

.footer h3 {
    font-family: 'Ogg', serif;
    font-weight: lighter;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}

