@import url('https://fonts.googleapis.com/css2?family=Ogg&family=Proxima+Nova:wght@400;700&display=swap');

body {
    font-family: 'Proxima Nova', sans-serif;
    background-color: #f2f2f2;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../assets/Header-BS(BalletClass).png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    padding: 11% 0;
    text-align: center;
    position: relative;
}

nav {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    margin-top: 10px;
    z-index: 1;
}

nav ul {
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: all 0.3s ease;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffffffd0, 0 0 20px #ffffff7a, 0 0 30px #ffffffad;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

h1 {
    font-family: 'Ogg', serif;
    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding: 100px 0 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.first-step{
    padding: 10px 20px;
}

.first-step-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.first-step h4{
    font-family: "Ogg", serif;
    font-size: 3.5rem;
    font-weight: lighter;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    color: #000;
}

.first-step-content img {
    width: 25rem;
    height: auto;
    object-fit: cover;
}

.first-step-text {
    max-width: 50%;
    flex-direction: column;
    padding: 5rem;
}

.first-step-text p {
    font-size: 0.8rem;
    line-height: 1.6;
    display: inline-block;
    width: fit-content;
}

.areas {
    padding: 10px 0;
}

.areas-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.areas-content img{
    width: 25rem;
    height: auto;
    object-fit: cover;
}

.areas-text{
    max-width: 50%;
    flex-direction: column;
    padding: 5rem;
}

.areas-text h4 {
    font-family: "Ogg", serif;
    font-size: 3rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.areas-text ul{
    font-size: 0.8rem;
    line-height: 1.6;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    width: fit-content;
}

.areas-text li{
    width: calc(50% - 10px);
    margin-bottom: 5px;
}

.areas-text p{
    font-size: 0.8rem;
    line-height: 1.6;
    display: inline-block;
    width: fit-content;
}

.education{
    padding: 10px 20px;
    display: flex;
}

.education-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.education-content img{
    width: 25rem;
    height: auto;
    object-fit: cover;
}

.education-text {
    max-width: 50%;
    flex-direction: column;
    padding: 5rem;
}

.education-text h4{
    font-family: "Ogg", serif;
    font-size: 3rem;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.education-text p{
    font-size: 0.8rem;
    line-height: 1.6;
    display: inline-block;
    width: fit-content;
}

.audition{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    position: relative; 
    align-items: center;
    background-image: url("../assets/Footer-BS\(BalletClass\).png");
    background-size: cover;
    text-align: center;
    padding: 5% 0;
}

.audition-content h5{
    font-size: 1rem;    
    font-weight: lighter;
    color: #fff;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.audition-content p{
    font-size: 0.8rem;
    color: #fff;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.audition-content input{
    padding: 10px;
    font-size: 0.6rem;
    border: 1px solid #fff;
    width: 200px;
    background-color: #fff;
    color: #333; 
    border: 1px solid #fff; 
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.audition-content button{
    background-color: #000; 
    font-size: 0.6rem;
    color: #fff;
    padding: 10px 20px;
    width: 150px;
    border: none;
    cursor: pointer;
    border: 1px solid #fff; 
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1); 
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}

footer h3 {
    font-family: 'Ogg', serif;
    font-weight: lighter;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
}

.footer-content p {
    font-size: 0.8rem;
    padding: 1px;
    margin-bottom: 0%;
}
